@model IEnumerable<MovieProject.Models.Movie>
@{
    ViewBag.Title = "Movies";
}



<div class="container mt-4" style="background-color:#d3d3d3; padding: 20px; border-radius: 8px;">
    <h1 class="text-center">Movies</h1>
    <div class="text-center mb-4">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("FetchMovies", "Movie")'">Fetch Movies</button>
        <div class="text-center mt-4">
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
</div>







    
    

    <div class="table-responsive">
        <table class="table table-striped table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Year</th>
                    <th>IMDB Link</th>
                    <th>Genres</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr class="movieRow" data-genres='@Html.Raw(Json.Serialize(movie.MovieGenres.Select(mg => mg.GenreId)))'>
                        <td><img src="@movie.Image" alt="@movie.Title" class="img-fluid" style="width: 100px;" /></td>
                        <td>@movie.Title</td>
                        <td>@movie.Description</td>
                        <td>@movie.Rating</td>
                        <td>@movie.Year</td>
                        <td><a href="@movie.ImdbLink" target="_blank" class="btn btn-success">View on IMDB</a></td>
                        <td>
                            @foreach (var genre in movie.MovieGenres)
                            {
                                <span class="badge badge-secondary">@genre.Genre.GenreName</span>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@movie.MovieID" class="btn btn-warning w-100 mb-2">Edit</a>
                            <a asp-action="Delete" asp-route-id="@movie.MovieID" class="btn btn-danger w-100">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

   
</div>

@section Scripts {
    <script>
        function filterMoviesByGenre(genreId) {
            document.querySelectorAll('.movieRow').forEach(row => {
                const genres = JSON.parse(row.getAttribute('data-genres'));
                row.style.display = genres.includes(genreId) ? '' : 'none';
            });
        }
    </script>
}
